<h1>Editing Book</h1>

<!--<form>-->
  <%= render 'form', book: @book %>
<!--</form>-->

<!--formタグに囲まれていると、中のformと干渉してうまく表示できない-->

<%= link_to 'Show', @book, class: "show_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>
